body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.card {
    width: 50%;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

p {
    font-size: small;
    color: grey;
}